Gemfile.lock
test/dest
*.gem
pkg/
*.swp
*~
_site/
.bundle/
.DS_Store
bbin/
gh-pages/
site/_site/
coverage
.ruby-version
.ruby-gemset
.sass-cache
tmp/*
.jekyll-metadata
/vendor
/test/source/file_name.txt

.bundle
db/*.sqlite3
log/*.log
tmp/

config/database.yml
config/*.sphinx.conf
config/s3_credentials.yml
*~
*.cache
*.log
*.pid
tmp/**/*
.DS_Store
db/cstore/**
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
coverage/*
db/*.sqlite3
*.tmproj
*.sw?
public/stylesheets/.sass-cache/
