<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Alex Clemmer" />

	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/css/default.css" type="text/css" media="screen, projection" />

	<noscript>
		<h2 style="border-style: solid; padding:5px; color:red;">Hey there! I see you're not using JavaScript. Just FYI, I use <a href="http://www.mathjax.org/" style="color:blue;">MathJax</a> to display things that deserve to look like math.</h2>
	</noscript>
</head>
<body>

	{{ content }}

</body>

<footer>
  <hr>

  © 2013-2015 Alex Clemmer, or whatever
</footer>
</html>
